@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Finlandica:ital,wght@0,400..700;1,400..700&family=Fjalla+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
:root {
     --primary: #ce1126;
     --secondary: #007a5e;
     --accent: #fcd116;
      --headFoot: #fafafa;
     --backgroundBlur: #4742422b;
     --text-card: #0d1510;
     --background: #fafafa;
      --text-color: #0d1510;
       --card: #ffffff;
       --linecolor: #aeafafa2;
    --backgroundBlurnav: #ffffffc0;


  --font-sans: 'Inter', sans-serif;
  --font-serif: 'Merriweather', serif;
  --font-mono: 'JetBrains Mono', monospace;

}
body.dark-mode {
    --headFoot: #0d151079;
    --card: #121915;
    --background: #0a0f0c;
    --text-color: #fafafa;
    --text-card: #f1f5f2;
    --backgroundBlur: #ffffff37;
    --backgroundBlurnav: #000000c8;
     --linecolor: #c8ebeba2;
     transition: 0.5s;
}
body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: var(--text-color);
     background-color: var(--background); 
     transition: 0.5s;
}
header {
    display: flex;
    align-items: center;
    width: 100%;
    /* background-color: var(--background); */
    justify-content: center;
    border-bottom: solid 0.5px var(--linecolor);
    background: var(--headFoot);
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    z-index: 1000;
}
main {
    width: 100%;
    min-height: 100vh;
    transform: translateY(65px);
    display: flex;
    flex-direction: column;
}
.navlinks {
    display: flex;
}
.navlist {
    display: flex;
}
.navlinks li,.navlinks li a{
   text-decoration: none;
   list-style: none;
   color: var(--text-color);
   font-family: var(--font-sans);
   font-weight: bold;
}
.navlinks li {
    padding: 10px;
    margin-left: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.navlinks li:hover{
    background-color: var(--backgroundBlur);
}
 .navlinks .active, .navlinks .active:hover{
     background-color: var(--primary);
 }
 .navlinks .active a {
     color: #fafafa;
 }
 .darkorclear {
    padding: 5px;
    background-color: var(--backgroundBlur);
    border-radius: 10px;
    cursor: pointer;
 }
.navlist {
   gap: 10px;
}
.navbar {
    display: flex;
    align-items: center;
    width: 95%;
    justify-content: space-between;
}
.logo {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.camer,.x,.plore {
    font-weight: bold;
    font-size: 1.2rem;
     font-family: "Fjalla One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.camer {
    color: var(--primary);
    font-weight: bold;
}
.x{
    color: var(--accent);
}
.plore {
    background: linear-gradient(to right,#007a5e,#ce1126,#fcd116);
    color: transparent;
    background-clip: text;
}
.hamburger {
    width: 30px;
    height: 40px;
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    cursor: pointer;
    background: transparent;
}
.hamburger::after {
    position: absolute;
    content: "";
    height: 5px;
    background-color: var(--secondary);
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 10px 0 var(--secondary);
}
.hamburger::before {
     position: absolute;
    content: "";
    height: 5px;
    background-color: var(--secondary);
    width: 100%;
    border-radius: 5px;
    transform: translateY(-10px);
}
.hamburger.active::after{
    transform: rotate(45deg);
    box-shadow: 0 0 0;
}
.hamburger.active::before {
    transform: rotate(-45deg);

} 
/* responsive */
@media (max-width:740px) {
    .hamburger {
        display: flex;
    }
    .hamburger::after {
    position: absolute;
    content: "";
    height: 5px;
    background-color: var(--primary);
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 10px 0 var(--primary);
}
.hamburger::before {
     position: absolute;
    content: "";
    height: 5px;
    background-color: var(--primary);
    width: 100%;
    border-radius: 5px;
    transform: translateY(-10px);
}
    .navlinks {
         position: absolute;
        width: 100%;
        display: flex;
        flex-direction: column;
        left: 0;
        transform: translateY(-250px);
        transition: 0.5s;
        background-color: var(--backgroundBlurnav);
        border-radius: 0 0 20px 20px;
        z-index: 100;
        
    }
    .navlinks.lache {
        position: absolute;
        width: 100%;
        display: flex;
        flex-direction: column;
        left: 0;
        transform: translateY(56px);
    }
}
